@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/gray-alpha.css";
@import "@radix-ui/colors/grass.css";
@import "@radix-ui/colors/tomato.css";

@import "./styles.reset.css";

:root,
.light,
.light-theme {
  --bg: #fff;
  --bg-subtle: var(--gray-2);
  --selection: var(--gray-a4);
  --font-mono:
    "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Menlo", "Courier New",
    monospace;
}

.dark,
.dark-theme {
  --bg: #000;
  --bg-subtle: var(--gray-2);
  --selection: var(--gray-a4);
}

:root {
  font-family: var(--font-sans), sans-serif;
}

html {
  scrollbar-gutter: stable;
  -moz-osx-font-smoothing: grayscale;
  color: var(--gray-12);
  scrollbar-color: var(--gray-a4) transparent;
  scrollbar-width: thin;
  background: var(--bg);
}

body {
  display: flex;
  flex-direction: column;
  max-width: 640px;
  min-height: 100dvh;
  padding-block: 64px;
  padding-inline: 16px;
  margin: 0 auto;
}

::selection {
  background: var(--selection);
}
