.page {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 512px;
  padding-top: 128px;
  padding-bottom: 64px;
  margin: 0 auto;
}

.heading {
  display: flex;
  gap: 10px;
  align-items: baseline;
}

.title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--gray-12);
}

.version {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--crimson-9);
}

.description {
  padding-top: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--gray-11);
}

.section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  width: 100%;
  padding-top: 24px;
}

.sectionTitle {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: var(--gray-12);
}

@media (max-width: 560px) {
  .page {
    padding: 64px 16px;
  }
}
