.root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 256px;
  padding: 12px 16px;
  margin-top: 24px;
  background: var(--gray-2);
  border-radius: 10px;
  box-shadow: 0 0 0 1px var(--gray-4);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  cursor: pointer;
  background: var(--crimson-9);
  border: none;
  border-radius: 100px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.button:hover {
  background: var(--crimson-10);
}

.button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--crimson-8);
}

.icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  color: var(--gray-1);
}

.text {
  padding: 8px 16px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--gray-1);
}

@media (max-width: 560px) {
  .root {
    height: 200px;
  }
}
